{# src/RS/PanelBundle/Resources/views/Panel/Panel.html.twig #}

{% extends "RSCoreBundle::layout.html.twig" %}

{% block body %}
<section class="container-fluid" style="">
    
    <div class="row">
        <div class="col-sm-2 alert" style="background-color:#20202A;padding: 0%;">
            {{ render(controller("RSCoreBundle:Core:menu")) }} 
        </div>
        <div class="col-sm-10">
             {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-success" style="margin-top:8%;">
                <p>Message flash : {{ message }}</p>
            </div>
            {% endfor %}
              <div class="alert alert-info" style="margin-top:8%;text-align: center;">
                  <h2>Assigner un client</h2>
            </div>
            <br/>
               <i>Ce panel vouspermet d'assigner un client a un mail reçu</i>
            <br/>
            <br/>
            <div class="well">
                {{ form(form) }}
            </div>

        </div>
    </div>
</section>

{% endblock %}