/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/app/config/parameters.yml.dist
composer.lock
/web/img/
/web/.htaccess
app/check.php
app/SymfonyRequirements.php
bin/doctrine
bin/doctrine.php
.idea/
node_modules/