{# src/RS/CoreBundle/Resources/views/Core/index.html.twig #}
{% extends "RSCoreBundle::layout.html.twig" %}
{%  block body  %}
</div>
<div class="container-fluid" style="background: rgba(255, 255, 255, 0.5) url('http://creer-monsite.fr/web/img/background.jpg') no-repeat fixed center center / cover;height: 690px;">
    

<div class="col-md-8 col-md-offset-2" style="padding-top: 2%; border-radius:10px; margin-top: 50px;">
    
    <span style="font-weight: bold;position:relative;top:33px;left:42%; border-radius:10px;">
    MENTIONS LEGALES
    </span>
    <article style="background-color: #333;z-index:10;color:#FFF;font-family:Roboto ,sans-serif; font-size:13px; backgound-color:green; border-top: 45px solid #FFF; padding:10px;border-radius:20px 20px 0px 0px;">
        Site développé par: Cyril Delage
        <br/>
        Professionnel indépendant
        <br/>
        Concepteur web, développeur.(Programmation, conseil et autres activités informatiques)
        <br/>
        N° SIRET : 814 224 358 00014 
        <br/>
         N° SIREN : 814 224 358 
        <br/>
        Forme juridique :	Profession libérale
        <br/>
        Date de création de l'entreprise:	Créée le 01/10/2015
        <br/>
        Téléphone: 06.38.33.11.15
        <br/>
        <br/>
        Tous les contenus sur ce site sont couverts par le droit d'auteur. 
        <br/>
        Toute reprise n'est réalisable qu'avec l'accord de l'auteur (article L122-4 du Code de la Propriété Intellectuelle).
        <br/>
        La reproduction, la transmission, la modification, l'utilisation de tout ou partie de ce site, par tout moyen et sur quelque support que ce soit est formellement prohibée, sauf accord écrit de l'auteur.
        <br/>
        Le site est hébergé par :
        <br/>
        
        <br/>
        <strong>1&1</strong>
        Internet AG
        <br/>
        Brauerstr. 48
        <br/>
        76135 Karlsruhe
        <br/>
        Allemagne
        <br/>
        
        <br/>
        La collecte de données du formulaire de contact a pour seule finalité de répondre aux entreprises qui sont interressées par le profil professionnel du responsable du site.
Les données collectées sont à l'usage exclusif du responsable du site.
        <br/>
        En vertu de l'article 27 de la loi Informatique et Libertés en date du 6 janvier    1978, vous disposez d'un droit d'accès,de rectification et de suppression des données
        <br/>
        personnelles vous concernant et collectées sur ce site.
        <br/>
        Vous pouvez exercer ce droit en envoyant un email à l'attention de
        <a href="mailto:cdelage.dev@gmail.com">Cyril Delage</a>. 
        <br/>

        <a class="btn btn-primary" style="background-color:##333;" href="{{ path('rs_core_homepage')}}">
            <span class="glyphicon glyphicon-arrow-left"> </span> 
            <span style="font-weight:bold;">RETOUR</span> 
        </a>
    </article>
    </div>
</div>		
{% endblock %}