
/*-- Titres  --*/
.h2, h2 {
    font-size: 20px;
}

.h3, h3 {
    font-size: 15px;
}

/*--- Images --*/
.imgProfil img {
    border: 3px solid #5B0200;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #3D3D3D;
    height: 60%;
    width: 60%;
    margin-left: -50%;
    position: relative;
    top: 20px;
}
img{
    width: 25px;
}

/*--- sections, articles --*/
.retours{
    padding: 2%;
    border: 2px solid grey;
    border-radius: 5%;
    margin-left: 2%;
}

#services{
    background-color: #F4F4F4;
}

.front{
    background-color: rgb(255, 255, 255);
    margin-left: 7%;
    padding-left: 33px;
    padding: 1%;
    padding-top: 0px;
    border-bottom: 5px solid #E67E22;
    margin-bottom: 4%;
}

.back{
    background-color: rgb(255, 255, 255);
    padding-left: 33px;
    padding: 1%;
    padding-top: 0px;
    border-bottom: 5px solid #A66BBE;
}

.extra{
    background-color: rgb(255, 255, 255);
    padding-left: 33px;
    padding: 1%;
    padding-top: 0px;
    border-bottom: 5px solid #2E8ECE;
}

.titreSection{
    padding-bottom: 3%;
    font-weight: bold;
    color: grey;
}

/*--- barre de navigation --*/
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #E7E7E7;
    background-color: #3D3D3D;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    background-color: #3D3D3D;
    box-shadow: 2px 6px 82px 1px #3D3D3D;

}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

/*--- éléments --*/
address {
    position: relative;
    top: 10px;
    right: 110px;
}

.presentation{
    margin-top: 3%;
    padding-top: 4%;
    border-radius: 30px;
    margin-bottom: 4%;
    padding-bottom: 4%;
}

.msg{
    max-width: 50%;
    width: 50%;
    min-width: 50%;
    max-height: 100px;
    height: 100px;
    min-height: 100px;
    border-radius: 5px;
    border: 0.1px solid grey;
}

.menuPanel:hover{
    background-color: blue;
}

.menuPanel{
    border: 1px solid;
    width: 100%;
    padding: 5%;
}

.lienMenu{
    color: #FFF;
}

a:hover{
    text-decoration:none;
}

/*--- Formulaire --*/
#rs_panelbundle_mailer_save{
    width: 50%;
    margin-left: 25%;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
}

.imgComp{
    width: 30px;
}

/*--media support--*/
@media (max-width: 768px) {

}

/*-- steps --*/
.cover {
    position: absolute;
    top: -0px;
    left: 0px;
    background: #FFF none repeat scroll 0% 0%;
    height: 150px;
    width: 675px;
    animation: 14s steps(13, end) 0s normal none infinite running walk;
}
100% {
    transform: translateX(275px);
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}


h1 { 
    font-family: Consolas, monospace;
    font-size:150%;
    width:16.3em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;
    
    -webkit-animation: typing 16s steps(20, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 16s steps(20, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}

