body{
    font-family: "Sansation","Trebuchet MS",Helvetica,Verdana,sans-serif,serif;
    background:url('http://creer-monsite.fr/web/img/base-content.jpg'); 
    background-repeat: repeat;
}

.li-menu-header {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 4%; 
}

.icones-reseaux-sociaux {
    background-color:#3D3D3D;
    border-color:#3D3D3D;
}

.img-icones-reseaux-sociaux {
    width: 19px; 
    height: 19px;
}

.glyphicon-tel {
    font-size: 1.7em; 
    color:greenyellow;
}

.modal-h4 {
    color:black; 
    font-size: 16px; 
    font-weight: bold; 
}

.body-modal {
    color:black; 
    font-size: 16px; 
    font-weight: bold;
}

.btn-modal {
    padding-left: 0px; 
    width: 25%;
}

.lienFooter {
    color: yellow;
}

.lien-log {
    display: inline;
    padding: O%;
}

.banniere {
    margin-top: 4%;
}

.span-banniere {
    color:darkred;
}

.alert-mail {
    margin-top:2%;
}

.p-alert-mail {
    text-align:center;
}

.hr {
   box-shadow: 6px 6px 16px black; 
}

.article-presentation {
    padding-left: 5%; 
    padding-right: 5%;
    margin-right: 25%;
}

.dble-hr-top {
    margin-bottom: 2px;
    border-color: rgb(203, 192, 192) -moz-use-text-color -moz-use-text-color;
    margin-left: 20%;
    margin-right: 20%;
}

.dble-hr-bottom {
    margin-top: 2px;
    border-color: rgb(203, 192, 192) -moz-use-text-color -moz-use-text-color;
    margin-left: 20%;
    margin-right: 20%;
}

.services {
    background: #F0F0F0 none repeat scroll 0% 0%;
}

.separation {
    margin-left: 10%;
    margin-right: 10%;
}

.hr-top {
    margin-bottom: 2px;
    border-color: rgb(203, 192, 192) -moz-use-text-color -moz-use-text-color;
    margin-left: 20%;
    margin-right: 20%;
}

.hr-bottom {
    margin-top: 2px;
    border-color: rgb(203, 192, 192) -moz-use-text-color -moz-use-text-color;
    margin-left: 20%;
    margin-right: 20%;
}

.background-img-code-source {
    background: rgba(255, 255, 255, 0.5) url('http://creer-monsite.fr/web/img/code.jpg') no-repeat fixed center center / cover; 
    height: 120px;
    border-bottom: 3px solid rgb(171, 60, 60); 
    border-top: 3px solid rgb(171, 60, 60);
}

.article-process {
    background: #F0F0F0 none repeat scroll 0% 0%;
    margin-bottom: 20px;
    margin-top: 25px;
    padding-bottom: 30px;
}

.list-process {
    font-size: 10px;
    list-style: outside none none;
    text-align: center;
}

.mes-competences {
    margin-top: 4%;
    border-bottom: none;
}

.img-boot {
    height: 40px;
}

.txt-competences {
    margin-top: 60px;
}

.img-portfolio {
    width: 100%; 
    height: auto;
}

.separation-shadow {
     box-shadow: 6px 6px 16px black;
}

.mailer {
    margin-bottom: 0px;
    border-bottom: 20px solid #962C3D;
}

.div-process {
    padding-left: 0px;
}

.img-bubble {
    width: 7px;
}

/*-- Titres  --*/
.h2, h2 {
    color: #7E7E7E;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6px;
    letter-spacing: 0.1em;
    font-weight: 300;
}

.h2-section{
    font-size: 26px;
}

.h3, h3 {
    font-size: 15px;
}

/*--- Images --*/
.imgProfil img {
    border: 3px solid #5B0200;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #3D3D3D;
    height: 60%;
    width: 60%;
    margin-left: -50%;
    position: relative;
    top: 220px;
}
img{
    width: 25px;
}

.avatar{
    margin-top: -14px;
    width: 50px;
}

.imgWeb{
    width: 300px;
    height: 80%; 
    padding-left: 5%;
    margin-top: 15%;
}

.imGarobas{
    height: 280px;
    width: 20%;
    margin: 2.5%;
}

.well{
    border-bottom: 3px solid #363636;
}

/*--- sections, articles --*/
#contact{
    background-color: #FFF;
}

.retours{
    padding: 2%;
    border: 2px solid grey;
    border-radius: 15px;
    margin-left: 2%;
}

#services{
    background-color: #F4F4F4;
}

footer{
    background: #192730 none repeat scroll 0% 0%;
}

/*--- div compétences services --*/
.front{
    background-color: rgb(255, 255, 255);
    margin-left: 7%;
    padding-left: 33px;
    padding: 1%;
    padding-top: 0px;
    border-bottom: 12px solid #E67E22;
    margin-bottom: 4%;
    box-shadow: 1px 1px 1px grey;
}

.back{
    background-color: rgb(255, 255, 255);
    padding-left: 33px;
    padding: 1%;
    padding-top: 0px;
    border-bottom: 12px solid #A66BBE;
    margin-bottom: 4%;
    box-shadow: 1px 1px 1px grey;
}

.extra{
    background-color: rgb(255, 255, 255);
    padding-left: 33px;
    padding: 1%;
    padding-top: 0px;
    border-bottom: 12px solid #2E8ECE;
    margin-bottom: 4%;
    box-shadow: 1px 1px 1px grey;
}


.front:hover{
    background-color: #962C3D;
    color: #FFF;
    border: 2px solid #20202A;
    border-bottom: 12px solid #E67E22;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgb(0, 0, 0);
}

.back:hover{
    background-color: #962C3D;
    color: #FFF;
    border: 2px solid #20202A;
    border-bottom: 12px solid #A66BBE;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgb(0, 0, 0);
}

.extra:hover{
    background-color: #962C3D;
    color: #FFF;
    border: 2px solid #20202A;
    border-bottom: 12px solid #2E8ECE;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgb(0, 0, 0);
}
/*--- Icones animés --*/
.hi-icon {
    margin-bottom: 30px;
    color: #DBDBDB;
    font-size: 72px;
    box-shadow: 0px 0px 0px 4px #FFF;
    transition: all 0.3s ease 0s;
}
.hi-icon:hover{
    background-color:#A66BBE;
}

.titreSection{
    padding-bottom: 3%;
    font-weight: bold;
    color: grey;
}

/*--- Portfolio --*/

em{
	opacity: 0.7;

}

.work{
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.work_detail{
	display: none;
}

.work_slideShow{
	height: 346px;
	overflow-y: hidden;
}

.portfolioImg{
    border: 1px solid rgb(197, 211, 230);
    border-radius: 7px;
    width: 100%;
    height: auto;
}


.portfolioImg:hover{
    border: 1px solid #20202A;
    border-radius: 10px;
}

.nivoSlider{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #C5D3E6;
    border-radius: 7px;
}

/*--- barre de navigation --*/
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #E7E7E7;
    background: #192730 none repeat scroll 0% 0%;
}

.navbar-default {
    border-color: #E7E7E7;
    background-color: #3D3D3D;
    box-shadow: 2px 6px 82px 1px #3D3D3D;
    background: #192730 none repeat scroll 0% 0%;

}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #962C3D;
}

/*--- éléments --*/
address {
    position: relative;
    top: 50px;
    right: 110px;
}

.presentation{
    margin-top: 3%;
    padding-top: 4%;
    border-radius: 30px 30px 0px 0px;
    margin-bottom: 4%;
    padding-bottom: 2%;
}

.maPresentation{
    font-family: Consolas, monospace;
}

.msg{
    max-width: 50%;
    width: 50%;
    min-width: 50%;
    max-height: 100px;
    height: 100px;
    min-height: 100px;
    border-radius: 5px;
    border: 0.1px solid grey;
}

.menuPanel:hover{
    background-color: blue;
}

.menuPanel{
    border: 1px solid;
    width: 100%;
    padding: 5%;
}

.lienMenu{
    color: #FFF;
}

a:hover{
    text-decoration:none;
}

.glyphicon:hover{
    color: #20202A;
}

strong{
    color: #962C3D;
}

h4, .h4{
    color: #962C3D;
}

.procesList2{
    text-decoration: none;
    list-style-type: none;
   text-align: center;
}
.procesList{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
   
}
.btnPack{
    text-align: center;
    border-radius: 50%;
    max-height: 200px;
    width: 120px;
    height: 100px;
    max-width: 200px;
    font-size: 27px;
    background-color: #337AB7;
    border: 3px solid rgba(210, 193, 164, 0.29);
    color: #FFF;
    line-height: 1.3;
    border-style: 30px;
    border-color: #F1F1F6;
}

.btnPack:hover{
    cursor: pointer;
    background-color:#962C3D;
}

/*--- Formulaire --*/
#rs_panelbundle_mailer_Envoyer{
    width: 50%;
    margin-left: 25%;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
}

.imgComp{
    width: 40px;
}

/*--media support--*/
/* ECRAN LARGE */
@media (max-width: 1200px) {
    .imGarobas{
        display: none;
        visibility: hidden;
    }
    
    .navbar-default .navbar-nav > li > a {
        font-size: 10px;
    }
    
}

@media (max-width: 1000px) {
    .front{
        margin-left: 0%;
    }
    
    .imgWeb{
        width: 400px;
        padding-left: 40%;
        margin-top: 0%;
    }
}
      

/* TABLETTES */
@media (max-width: 964px) {
    h1, .h1{
        font-size: 15px;
    }
    
    .retours{
       font-size: 9px;
    }
    
    #presentation{
        font-size: 10px;
    }
    
    #realisations{
        font-size: 10px;
    }
    
    h2{
        font-size: 22px;
    }
    
    address {
    position: relative;
    top: 20px;
    right: 40px;
    }
    
    .navbar-default .navbar-nav > li > a {
        font-size: 8px;
    }
    
    .work_detail {
    font-size: 9px;
    }
    
    .front{
        margin-left: 0%;
    }

               
}

/* SMARTPHONES */
@media (max-width: 768px) {
    address {
        position: relative;
        top: 50px;
        right: 40px;
        font-size: 5px;
    }
    
    #presentation{
        font-size: 5px;
    }
    
    .imgProfil img {
        border: 1px solid #5B0200;
        border-radius: 8px;
        box-shadow: 1px 1px 2px #3D3D3D;
        height: 60%;
        width: 100%;
        margin-left: -50%;
        position: relative;
        top: 50px;
    }
    
    .imgWeb{
        width: 250px;
        height: 80%;
        padding-left: 30%;
        margin-top: 0%;
    }
    
    .front{
        margin-left: 0%;
    }

    .work_detail {
    font-size: 6px;
    }
    
    .stagger1{
        font-size: 15px;
        margin-bottom: 0; 
        margin-top: 0%;
    }
}


/*-- steps --*/
.cover {
    position: absolute;
    top: -0px;
    left: 0px;
    background: #FFF none repeat scroll 0% 0%;
    height: 150px;
    width: 675px;
    animation: 14s steps(13, end) 0s normal none infinite running walk;
}
100% {
    transform: translateX(275px);
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}


h1 { 
    font-family: Consolas, monospace;
    font-size:150%;
    width:16.3em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;
    
    -webkit-animation: typing 16s steps(20, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 16s steps(20, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}