Salut <h1>Cyril</h1>!!
<br/>
Une personne vient de s'inscrire sur votre site !
<br/>
Vous pouvez voir la liste des personnes inscrites sur <strong>creer-monsite.fr</strong>, sur votre panel administrateur.

<br/>
Vous recevrez une confirmation par email lors d'une validation de commande.
<br/>
Retrouvez également toutes les factures et devis clients dans votre panel d'aministration.
<br/>
A bientot!

Cet email est généré automatiquement.
<br/>
Trosh.