Félicitation !
<br/>
Votre inscription a bien été prise en compte sur <strong>Creer mon site </strong> !
<br/>
Retrouvez vos indentifiants de connexion dans votre espace utilisateur.
<br/>
Vous avez également la possibilitée via cet espace, de modifier votre mot de passe,
ainsi que vos informations personnelles.
<br/>
Merci de la confiance que vous accordez à <strong>Creer-monsite.fr</strong> .
<br/>
N'hésitez pas à nous contacter au 06.09.59.41.37, pour toutes réclamations ou informations concernant un article en boutique.
<br/>
<strong>Creer-monsite.fr</strong> vous souhaites la bienvenue et, nous sommes heureux de vous comptez parmis nos membres.
<br/>
Bonne visite sur notre site.
Vous pouvez également nous suivre sur facebook en cliquant sur ce lien :<a href="https://www.facebook.com/profile.php?id=100010013501780">ici</a>, pour nous faire part de vos commentaires et vos recommandations.
A Bientot sur <strong>Creer-monsite.fr</strong> !

<br/>
<i>Creer-monsite.fr:Développeur web freelance. Demandez votre devis gratuit!!</i>

<br/>
<address>

</address>
<br/>
Cet email est généré automatiquement.